.root {
  overflow-x: hidden;
}
.WelcomePage {
}

.header {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  padding-top: .75rem; 
}

.mobileHeader {
  text-align: center;
  height:10%;
  width:100%;
}

.content {
  height: 100%;
}
.row {
  text-align: center;
}
.logo {
  height: 80px;
  cursor: pointer;
}
.progressBar {
  position: absolute;
  width: 60vh;
  top: 70vh;
  left: calc((100vw - 60vh)/2);
}

.footer {
  width: 100%;
}

.footer_sign_up_page {
  position: relative;
}
.dotsContainer {
    text-align: center;
}

